etc/node-red/sensors
[{"id":"5172f8b1.ae8d08","type":"mqtt-broker","z":"3e8fbd3d.c17042","broker":"iot.eclipse.org","port":"1883","clientid":"nr12","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"2bd26049.d42da","type":"mqtt in","z":"3e8fbd3d.c17042","name":"surfboard1","topic":"globalcode/things/surfboard1","broker":"5172f8b1.ae8d08","x":93,"y":85,"wires":[["370ac6e9.c8f53a","30bc758a.cf438a","2571b1ff.da8e4e","fda97709.025688","3eea4719.c115b8","a48d8b8e.5b7278"]]},{"id":"370ac6e9.c8f53a","type":"debug","z":"3e8fbd3d.c17042","name":"","active":false,"console":"false","complete":"payload","x":334,"y":36,"wires":[]},{"id":"cbbe1bd5.3441e8","type":"debug","z":"3e8fbd3d.c17042","name":"","active":true,"console":"false","complete":"false","x":572,"y":73,"wires":[]},{"id":"30bc758a.cf438a","type":"function","z":"3e8fbd3d.c17042","name":"Alcohol Data","func":"var obj = JSON.parse(msg.payload);\nmsg.payload = obj.components[0].value;\n\nreturn msg;","outputs":1,"noerr":0,"x":375,"y":88,"wires":[["cbbe1bd5.3441e8","d3970328.2c69"]]},{"id":"2571b1ff.da8e4e","type":"function","z":"3e8fbd3d.c17042","name":"Potenciometer","func":"var obj = JSON.parse(msg.payload);\nmsg.payload = obj.components[1].value;\n\nreturn msg;","outputs":1,"noerr":0,"x":369,"y":143,"wires":[["4a557c67.b5aa84"]]},{"id":"fda97709.025688","type":"function","z":"3e8fbd3d.c17042","name":"Light","func":"var obj = JSON.parse(msg.payload);\nmsg.payload = obj.components[2].value;\n\nreturn msg;","outputs":1,"noerr":0,"x":394,"y":198,"wires":[["3fd51e5a.c02ae2"]]},{"id":"3eea4719.c115b8","type":"function","z":"3e8fbd3d.c17042","name":"Temperature","func":"var obj = JSON.parse(msg.payload);\nmsg.payload = obj.components[5].value;\n\nreturn msg;","outputs":1,"noerr":0,"x":372,"y":255,"wires":[["bff95917.4006a8","502bb5aa.afd44c"]]},{"id":"4a557c67.b5aa84","type":"debug","z":"3e8fbd3d.c17042","name":"","active":false,"console":"false","complete":"false","x":576,"y":127,"wires":[]},{"id":"3fd51e5a.c02ae2","type":"debug","z":"3e8fbd3d.c17042","name":"","active":false,"console":"false","complete":"false","x":575,"y":176,"wires":[]},{"id":"bff95917.4006a8","type":"debug","z":"3e8fbd3d.c17042","name":"","active":true,"console":"false","complete":"false","x":571,"y":225,"wires":[]},{"id":"a48d8b8e.5b7278","type":"function","z":"3e8fbd3d.c17042","name":"Humidity","func":"var obj = JSON.parse(msg.payload);\nmsg.payload = obj.components[6].value;\n\nreturn msg;","outputs":1,"noerr":0,"x":384,"y":311,"wires":[["77664f7f.8899b"]]},{"id":"77664f7f.8899b","type":"debug","z":"3e8fbd3d.c17042","name":"","active":false,"console":"false","complete":"false","x":573,"y":283,"wires":[]},{"id":"5f1959d0.a0e6a8","type":"twitter out","z":"3e8fbd3d.c17042","twitter":"","name":"Tweet","x":892,"y":204,"wires":[]},{"id":"d3970328.2c69","type":"switch","z":"3e8fbd3d.c17042","name":"","property":"payload","rules":[{"t":"gt","v":"950"}],"checkall":"true","outputs":1,"x":736,"y":104,"wires":[["32f05729.cd0fa8"]]},{"id":"32f05729.cd0fa8","type":"change","z":"3e8fbd3d.c17042","name":"setup msg","rules":[{"t":"set","p":"payload","to":"Alcohol detected at @DevoxxMA during @vsenger and @yarasenger talk!"}],"action":"","property":"","from":"","to":"","reg":false,"x":767,"y":166,"wires":[["5f1959d0.a0e6a8"]]},{"id":"502bb5aa.afd44c","type":"switch","z":"3e8fbd3d.c17042","name":"temperature >= x","property":"payload","rules":[{"t":"gte","v":"30"}],"checkall":"true","outputs":1,"x":763,"y":253,"wires":[["2c76c78c.d38938"]]},{"id":"506c3642.af93c8","type":"mqtt out","z":"3e8fbd3d.c17042","name":"","topic":"globalcode/things","qos":"1","retain":"false","broker":"5172f8b1.ae8d08","x":929,"y":358,"wires":[]},{"id":"2c76c78c.d38938","type":"change","z":"3e8fbd3d.c17042","name":"*/red?255","rules":[{"t":"set","p":"payload","to":"*/red?255"}],"action":"","property":"","from":"","to":"","reg":false,"x":777,"y":319,"wires":[["506c3642.af93c8"]]}]